// COLOR
$white: white;
$black: black;
$gray: gray;


// Misure & spazi
$height_h_top: 45px;
$height_h_bottom: 60px;
$maxwidth: 100%;
$contwidth: 80%;

$p_10: 10px;
$p_20: 20px;
$p_50: 50px;

$m_10: 10px;
$m_20: 20px;
